body {
    display: flex;
    background-image: url('./backgroundHome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.result-card {
    border-radius: 10px;
    border: black solid 1px;
    background-color:rgb(245, 245, 220, 75%);
    padding:2em;
    width: 100vh;
    height: 15em;
    position: relative;
    border-radius: 10px;
}

#homeArea {
    margin-top: 5em;
    margin-left: 5em;
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;

    color: aqua;
}

.Button {
    margin-left: 2em;
}

.overlay {
    width : 100%;
    height : 100%;
    z-index : 110;
    opacity : .01;
    top: 0;
    left: 0;
    position: absolute;
}

.menuSelection {
    margin-bottom: 4em;
    padding: 1em;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(245, 245, 220, 75%) ;
}

.menuSelection:hover {
    background-color: rgb(245, 245, 220);
}

#bodyArea {
    margin: 0% auto;
    z-index: 0;
    
}

#searchArea {
    margin-top: 5em;
    z-index: 50;
}

#menuArea {
    margin-top: 5em;
    width: 20vh;
    height: fit-content;
}

#results {
    height: 80vh;
    width: fit-content;
    border: black 1px solid;
    display: grid;
    overflow-y: scroll;
    z-index: 50;
}

.authorSearchfield {
    display: none;
}